.title {
  padding: 1rem 0;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add {
  color: #008080;
  background-color: white;
  border-color: teal;
}

.inner {
  border: 0.5px solid lightgray;
  box-shadow: 0 0 2px black;
  width: 250px;
}

.back {
  text-decoration: none;
}
